<%= @expense.date.to_s %><br />
<%= @expense.description %><br />
<%= @expense.amount %>
<h2><%= @expense.id %></h2>

<a href="/expenses/<%= @expense.id %>/edit">Edit Expense</a>

<form action="/expenses/<%= @expense.id %>" method="post">
<input type="hidden" name="_method" value="delete"/>
<input type="submit" value="Delete Expense"/>
</form>