<h5><%= @expense.id %></h5>
<%= @expense.date.to_s %>
<%= @expense.description %>
<%= @expense.amount %>

<a href="/expenses<%= @expense.id %>/edit"><button type="button" class="btn btn-outline-light">Edit Expense</button></a>

<form action="/expenses<%= @expense.id %>" method="post">
<input type="hidden" name="_method" value="delete"/>
<input type="submit" class="btn btn-outline-light" value="Delete Expense"/>
</form>